.layout-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 50px);
    height: calc(100dvh - 50px);

    background-color: rgb(199, 210, 210);

    position: relative;
    overflow: hidden;
}

.main-content {
    flex: 1;
    min-width: 0;
    padding: 30px;
    overflow-y: auto;
}